<div class="card d-flex justify-content-between m-2 sm:w-50 xs:w-100">
    <div>
        <app-event-poster imgSrc={{imgSrc}} regEndTime={{regEndTime}} regStatus={{regStatus}}></app-event-poster>
        <div class="d-flex flex-column justify-content-between  p-2 h6  ">

            <h5 class=" h6 fs-5">{{eventName}}</h5>
            <div class="d-flex flex-column justify-content-between ">
                <div class="d-flex justify-content-between">
                    <app-event-details value1={{value1}} value2={{value2}}></app-event-details>
                    <app-event-details value1={{value3}} value2={{value4}}></app-event-details>
                    <app-event-details value1={{value5}} value2={{value6}}></app-event-details>

                </div>

                <app-event-explanation description={{eventDescription}}></app-event-explanation>
            </div>
            <div class="d-flex justify-content-start">
                <span class="p-1 mx-1" style="background-color: #eee; font-size: 0.8rem;"
                    *ngFor="let tag of tags;let i =index;">
                    <span>{{tag}}</span>
                </span>
                <span *ngIf="otherTag!=0" style="color: #FA7328;">+{{otherTag}} more</span>
            </div>
        </div>

    </div>
    <div *ngIf="showUsers=='true'" class="d-flex justify-content-between align-items-center p-1 border-top">
        <div>
            <app-event-registered-users *ngFor="let user of topUsers" imgSrc="{{user['image_url']}}"
                name="{{user['name']}}" otherUsers={{otherUsers}} regStatus={{regStatus}}></app-event-registered-users>
            <div class="d-flex">
                <p class="registered-para">and <span class="users">{{otherUsers}}</span> others
                    <span *ngIf="regStatus=='PAST'"> participated.</span>
                    <span *ngIf="regStatus!='PAST'">are participating.</span>
                </p>
            </div>
        </div>
    </div>
    <app-button *ngIf=" regStatus!='PAST' " value={{buttonValue}} link={{registerLink}}></app-button>
</div>