* {
    font-family: Mulish, Helvetica, Arial, sans-serif;
}

.card {
    min-height: 540px;
    border-radius: 8px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}

.explanation{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.event-name {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.users {
    font-weight: 600;
}

@media screen and (min-width: 769px) {
    .card {
        max-width: 36.659vw;
    }
}

@media screen and (min-width: 1025px) {
    .card {
        max-width: 29.725vw;
    }

}

@media screen and (max-width: 768px) {
    .card {
        max-width: 93vw;
    }

}

@media screen and (max-width: 426px) {
    .card {
        max-width: 100vw;
    }
}
