<div class=" sm:w-100 xs:w-50 ">
    <h3 class="tagName">TAGS</h3>
    <div class="flex flex-col justify-content-around">
        <div class="" *ngFor="let tag of tags">
            <app-tag-item *ngIf="inclTags.includes(tag)"
                [ngStyle]="{'background-color': '#FF6E31','color': '#fff', 'padding': '0.46rem', 'border-radius': '2px'}"
                [tag]="tag" (click)="tagClicked(tag)"></app-tag-item>
            <app-tag-item *ngIf="!inclTags.includes(tag)"
                [ngStyle]="{'background-color': '#eee', 'padding': '0.46rem', 'border-radius': '2px'}" [tag]="tag"
                (click)="tagClicked(tag)"></app-tag-item>
        </div>
    </div>
    <div *ngIf="flag==false"><span (click)="seeMore()" class="cursor">See 10 more</span></div>
</div>