.cursor {
    color: #FF6E31;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.tagName {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #6B728E;
    margin-bottom: 14px;
    letter-spacing: 0.078rem;
}
