.btn {
    background: linear-gradient(90deg, #FF6E31, #FFB26B);
    border-radius: 3px;
    color: white;
    width: 132px;
    height: 32px;
    border: none;
    font-size: 0.8rem;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    color: #243763;
    font-weight: 600;
}
