.banner-container{
    position: relative;
    z-index: 1;
}

.card-img{
    width: 100%;
    height: 180px;
    min-height: 180px;
}

.register-badge{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    color: white;
}

.text-2{
    font-size: .7rem;
    background-color: white;
    color: black;
}

circle{
    filter: blur(1px);
}
